/* All Conmmon Styles */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

section {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: darkslategrey;
    padding: 10px 15px;
}



footer {
    background-color: rgb(26, 53, 53);
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 50px;
}



.button-i {
    background-color: rgb(255, 166, 0);
    border: 0;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}



h2 {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.199);
}

/* hero section styles */
.hero-section {
    background-color: rgb(26, 53, 53);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    border-radius: 25px;
}


.container {
    display: flex;
    justify-content: space-evenly;
}

.text-box {
    color: aliceblue;
    width: 50%;
}

.text-box p {
    text-overflow: ellipsis;
}

.space-fix {
    font-size: 2.8em;
}

.hero-image {
    margin-bottom: -5px;
}

.button-i:hover {
    background-color: rgb(247, 202, 119);
    transform: scale(1.05);
    transition: .5s ease;
}

.button-i i:hover {
    translate: 5px;
    transition: .5s ease;
}

.anime-ball {
    padding-top: 30px;
    width: 6%;
    border: 1px solid rgba(128, 128, 128, 0);
    transition: transform 1s ease-in .125s;
}

.anime-ball:hover {
    transform: rotate(69deg);
}

.anime-ball i {
    color: rgb(43, 92, 92);
    font-size: 5em;
}

/* section ii */

.menu-bar {
    float: left;
}

.side-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 53, 53);
    padding: 15px 15px;
    border-radius: 12px;
    margin-right: 25px;
}


.button-ii {
    border-radius: 12px;
    margin: 5px;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

#match-link {
    background-color: rgb(255, 166, 0);
}

.button-ii:hover {
    background-color: rgb(247, 202, 119);
    transition: .25s ease;
}


.blog-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.blog-card {
    color: rgb(26, 53, 53);
    background-color: rgba(250, 235, 215, 0.644);
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.tag-word {
    background-color: azure;
    border: 1px solid lightblue;
    border-radius: 6px;
    padding: 2px 5px;
    display: inline-block;
}

.blog-image img {
    width: 100%;
}

.blog-info {
    padding: 10px;
}

.blog-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mini-info {
    margin: 0;
}

.bonus-button {
    display: none;
    background-color: rgb(255, 166, 0);
    border: 0;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.bonus-button:hover {
    background-color: rgb(247, 202, 119)
}

/*-------------------
Upcoming Match page SECTION-ii styles
---------------------*/

.match-schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.match-card {
    background-color: rgba(255, 235, 205, 0.589);
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.match-info {
    text-align: center;
}

.flag-vs {
    display: flex;
    justify-content: space-evenly;
}

.flag-vs img {
    width: 50%;
}

.space {
    margin: 5px;
}

/*footer styles*/

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: rgba(240, 248, 255, 0.76);
    font-size: 1em;
    font-weight: 400;
    padding: 5px;
    margin: 10px;
}

.social-icons {
    color: rgba(196, 245, 228, 0.459);
    display: flex;
    justify-content: center;
}

.fa-brands {
    padding: 15px;
}

.fa-brands:hover {
    color: rgb(247, 202, 119);
    transition: .7s ease-in-out;
}

/*----------------
M I D E A QUERY STYLES
------------------*/

/* -----------------
 T A B view styles
 -------------------- */

@media screen and (max-width: 820px) and (min-width: 577px) {

    .text-box {
        padding-bottom: 30px;
    }

    .space-fix {
        margin: 0;
        font-size: 1.5em;
    }

    .blog-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-bar {
        float: none;
    }

    .side-nav {
        flex-direction: row;
        width: 100%;
        background-color: aliceblue;
        justify-content: space-evenly;
    }

    .match-schedule {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-bar {
        margin-bottom: 30px;
    }

    .space-fix {
        margin: 0;
        font-size: 2.8rem;
    }

    .bonus-button {
        margin-top: 30px;
        display: flex;
    }

    .anime-ball {
        display: none;
    }
}


/* -----------------------
     M O B I L E view styles
     ------------------------- */

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text-box {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .menu-bar {
        float: none;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .side-nav {
        background-color: aliceblue;
    }

    .match-schedule {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .anime-ball {
        display: none;
    }

}