/* All Conmmon Styles */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: darkslategrey;
    padding: 10px 15px;
}

aside {
    float: left;
}

footer {
    background-color: rgb(26, 53, 53);
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 50px;
}



.button-i {
    background-color: rgb(255, 166, 0);
    border: 0;
    border-radius: 25px;
}

h1 {
    color: aliceblue;
    font-size: 2.8em;
}

h2 {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.199);
}

/* hero section styles */
.hero-section {
    background-color: rgb(26, 53, 53);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    border-radius: 25px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.text-box {
    color: aliceblue;
    width: 50%;
}

.button-i:hover {
    background-color: rgb(247, 202, 119);
}

/* section ii */

.side-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 53, 53);
    padding: 15px 15px;
    border-radius: 12px;
    margin-right: 25px;
}


.button-ii {
    border-radius: 12px;
    margin: 5px;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button-ii:hover {
    background-color: rgb(255, 166, 0);
}


.blog-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.blog-card {
    color: rgb(26, 53, 53);
    background-color: rgba(250, 235, 215, 0.644);
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.blog-image img {
    width: 100%;
}

.blog-info {
    padding: 10px;
}

.blog-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mini-info {
    margin: 0;
}

/*-------------------
Upcoming Match page SECTION-ii styles
---------------------*/

.match-schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.match-card {
    background-color: rgba(255, 235, 205, 0.589);
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.match-info {
    text-align: center;
}

.flag-vs {
    display: flex;
    justify-content: space-evenly;
}

.flag-vs img {
    width: 50%;
}

/*footer styles*/

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: rgba(240, 248, 255, 0.76);
    font-size: 1em;
    font-weight: 400;
    padding: 5px;
    margin: 10px;
}

/*----------------
M I D E A QUERY STYLES
------------------*/

/* @media screen and (min-device-width: 577px) and (max-device-width: 768px) {
    section {
        margin: 50px;
        margin-top: 100px;
    }
} */

@media screen and (max-width: 820px) and (min-width: 577px) {

    .hero-section,
    .section-ii {
        margin-left: 10px;
        margin-right: 10px;
    }

}